<!DOCTYPE html>
<html>
  <head>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../styles/app.css">
    <!-- endinject -->
  </head>
  <body ng-app="app">
    <h1>Hello World, Welcome</h1>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/tether/dist/js/tether.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="../scripts/app/app.js"></script>
    <!-- endinject -->
  </body>
</html>
